body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    overflow: auto;  /* Ajouter les barres de défilement si nécessaire */
    border: 1px solid black;
}

#pixelCanvas {
    display: grid;
    width: max-content;
    height: max-content;
}

.pixel {
    border: 1px solid #ddd;
    background-color: white;
}

#palette, #actions, #gridSizeSelector {
    margin: 10px;
}

button {
    color: #ddd;
    background-color: #511763;
}